// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  border: 1px solid #0F60C4;
  &:hover {
  background: #1476eb;
  color: white;
  }
}

.input {
  border-radius: 4px;
  width: 300px;
  height: 24px;
}

.answer {
  background-color: #fffee1;
  padding: 8px 24px;
  width: 300px;
  border-left: 5px solid black;
}
